<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <div class="parent">
        <% postList.results.forEach(function(post) {%>
        <div class="child">                           
            <img src="<%= post.imageUrl %>" alt="image in the post <%= post.id %>"/>
            <div class="childText">
            <div class="postedBy"><%= post.postedBy.username %></div>
            <div class="createdAt"><%= format(post.createdAt, "yyyy-MM-dd") %> </div>
            <p class="message"><%= post.message %></p>   
            </div>
            <div class="LikeDislike">
                <div>
                    <p>Liked By: 
                        <ul><% post.likedBy.forEach(function(likedBy) {%>
                            <li><%=likedBy.name %></li>
                            <% }); %> 
                        </ul>
                    </p>
                </div>
                <div>
                    <p>Disliked By: 
                        <ul><% post.dislikedBy.forEach(function(dislikedBy) {%> 
                            <li><%=dislikedBy.name %></li>
                            <% }); %>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="buttonBox">
                <div>
                    <form method="post" action="/posts/<%= post.id %>/like/">
                        <button type="submit">Like</button>
                    </form>
                </div>
                <div>
                    <form method="post" action="/posts/<%= post.id %>/dislike/">
                        <button type="submit">Dislike</button>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <%if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
    <% } %>
    <%if (postList.previous) { %>
        <a href="<%= postList.previous %>">Previous</a>
    <% } %>
</body>
<%- include('_footer') -%>
</html>